<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title th:text="#{ASSETS00_ED.TITLE}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" th:href="@{static/assets/favicon.ico}" type = "image/x-icon">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css}" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link type="text/css" th:href="@{/static/css/style3.css}" rel="stylesheet">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css}">
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <!--Modal Test -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <!------------------------------->
    <!-- AWESOME DATA TABLE -------->
    <script defer src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script defer src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js" type="text/javascript"></script>
    <link rel="stylesheet" defer th:href="@{https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css}"></link>
    <link rel="stylesheet" defer th:href="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" defer th:href="@{http://getbootstrap.com/css/#tables-responsive}"></link>

    <script>
      function copyToClipboard(text) {
        var sampleTextarea = document.createElement("textarea");
        document.body.appendChild(sampleTextarea);
        sampleTextarea.value = text; //save main text in it
        sampleTextarea.select(); //select textarea contenrs
        document.execCommand("copy");
        document.body.removeChild(sampleTextarea);
      }
      
      var option = {
        animation : true,
        delay : 2000
      };
      
      function myFunction(){
        var copyText = document.getElementById("gpscords");
        copyToClipboard(copyText.value);
        var toastHTMLElement = document.getElementById("toastMessage");
        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
        toastElement.show();
      }
    </script>
    <!------------------------------>
    
    <!---------For tabs--------------------->
    <script defer src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="wrapper">
      <nav id="sidebar">
        <div id="dismiss">
          <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
          <h3 th:text="#{MENOU00.MAIN_MENU}"></h3>
        </div>

        <ul class="list-unstyled components">
          <div th:each="choice : ${menu}">
            <li th:if="${choice.isIsActive() and !choice.isHaveSub()}" class="active">
              <a th:href="@{${choice.getPath()}}" data-toggle="collapse" aria-expanded="false">
                <i th:if="${choice.getIcon()!= null}" th:class="${choice.getIcon()}"></i>
                <img style="width:28px;margin-right:-2px;margin-left:-8px;" 
                     th:if="${choice.getImage()!=null}" th:src="${choice.getImage()}"/>
                <span th:text="${choice.getCaption()}"></span>
              </a>
            </li>
            <li th:if="${!choice.isIsActive() and !choice.isHaveSub()}">
              <a th:href="@{${choice.getPath()}}">
                <i th:if="${choice.getIcon()!= null}" th:class="${choice.getIcon()}"></i>
                <img
                  style="width:28px;margin-right:-2px;margin-left:-8px;"
                  th:if="${choice.getImage()!=null}" th:src="${choice.getImage()}"/>
                <span th:text="${choice.getCaption()}"></span>
              </a>
            </li>
            <li th:if="${choice.isHaveSub()}">
              <a th:href="@{'#' + ${choice.getId()}}" data-toggle="collapse" aria-expanded="false">
                <i th:if="${choice.getIcon()!=null}" th:class="${choice.getIcon()}"></i> 
                <span th:text="${choice.getCaption()}"></span>
              </a>
              <ul class="collapse list-unstyled" th:id="${choice.getId()}">
                <li th:each="subchoice : ${choice.getSubs()}">
                  <a th:href="@{${subchoice.getPath()}}" >
                    <i th:if="${subchoice.getIcon()!= null}" th:class="${subchoice.getIcon()}"></i> 
                    <span th:text="${subchoice.getCaption()}"></span>
                  </a>
                </li>
              </ul>
            </li>
          </div>
        </ul>
      </nav>
      <!--Content-->
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
            </button>
            <label th:if="${xrhsh.getDescr() != null}" th:text="${'Portofolio: ' + xrhsh.getCode() + ' - ' + xrhsh.getDescr()}"></label>
            <!--<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
            </button>-->
          </div>
        </nav>
        <div class="container">
          <div class="row">
            <h1 class="text-center" th:text="#{ASSETS00_ED.TITLE1}"></h1>
          </div>
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-cust-info-tab" data-bs-toggle="tab" data-bs-target="#nav-cust-info" type="button" role="tab" aria-controls="nav-cust-info" aria-selected="true">
                <span th:text="#{ASSETS00_ED.INFORMATION}"></span>
              </button>
              <button class="nav-link" id="nav-auction-details-tab" data-bs-toggle="tab" data-bs-target="#nav-auction-details" type="button" role="tab" aria-controls="nav-auction-details" aria-selected="false">
                <span th:text="#{ASSETS00_ED.AUCTION_DETAILS}"></span>
              </button>
              <button class="nav-link" id="nav-first-information-tab" data-bs-toggle="tab" data-bs-target="#nav-first-information" type="button" role="tab" aria-controls="nav-first-information" aria-selected="false">
                <span th:text="#{ASSETS00_ED.FIRST_INFO}"></span>
              </button>
              <button class="nav-link" id="nav-links-tab" data-bs-toggle="tab" data-bs-target="#nav-links" type="button" role="tab" aria-controls="nav-links" aria-selected="false">
                <span th:text="#{ASSETS00_ED.LINKS}"></span>
              </button>
              <button class="nav-link" id="nav-final-information-tab" data-bs-toggle="tab" data-bs-target="#nav-final-information" type="button" role="tab" aria-controls="nav-final-information" aria-selected="false">
                <span th:text="#{ASSETS00_ED.FINAL_INFO}"></span>
              </button>
              <button class="nav-link" id="nav-other-tab" data-bs-toggle="tab" data-bs-target="#nav-other" type="button" role="tab" aria-controls="nav-other" aria-selected="false">
                <span th:text="#{ASSETS00_ED.OTHERS}"></span>
              </button>
            </div>
          </nav>
          <form th:action="@{/assets/assets00/ed01/post01?asset={asset} (asset = ${CLM0.asset})}" th:object="${CLM0}" method="POST">
            <div class="tab-content" id="nav-tabContent">
              <!-- Tab1 -->
              <div class="tab-pane fade show active" id="nav-cust-info" role="tabpanel" aria-labelledby="nav-cust-info-tab">
                <div class="row g-3">
                  <p  th:text="#{ASSETS00_ED.INFORMATION}"></p>
                  <input
                    type="hidden"
                    th:value="${CLM0.getAsset()}"
                    th:id="asset"
                    class="form-control"                  
                    />
                  <div class="col-md-4">
                    <label for="aauci_rec" class="form-label" th:text="#{ASSETS00_ED.AAUCI}"></label>
                    <input
                      id="aauci"
                      type="number"
                      name="aauci_rec"
                      th:value="${CLM0.getAauci_rec()}"
                      class="form-control"
                      disabled/>
                  </div>
                  <div class="col-md-4">
                    <label for="intrnlkey_rec" class="form-label" th:text="#{ASSETS00_ED.INTERNL_KEY}"></label>
                    <input
                      id="intrnlkey_rec"
                      type="text"
                      name="intrnlkey_rec"
                      th:value="${CLM0.getIntrnlkey_rec()}"
                      class="form-control"
                      disabled/>
                  </div>
                  <div class="col-md-2">
                    <label for="assfile_rec" class="form-label" th:text="#{ASSETS00_ED.ASSIGNMENT}"></label>
                    <input 
                      type="text"
                      autocomplete="false"
                      name="assfile_rec"
                      th:value="${T(opsw.uci.prj.utils.OpswDateUtils).DateToStr01(CLM0.getAssfile_rec())}"
                      class="form-control" id="assfile_rec"  disabled/>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col-md-4">
                    <label for="asset" class="form-label" th:text="#{ASSETS00_ED.SYSTEM_ID}"></label>
                    <input
                      id="asset"
                      type="number"
                      name="asset_rec"
                      th:value="${CLM0.getAsset()}"
                      class="form-control"
                      disabled/>
                  </div>
                </div>
                <div class="row g-3 align-self-end" style="display: inline-flex !important;">
                  <div class="col-md-8">
                    <label for="user_create" class="form-label" th:text="#{ASSETS00_ED.USER_CREATE}"></label>
                    <input
                      id="user_create"
                      type="text"
                      name="user_create_rec"
                      th:value="${CLM0.getUser_create()}"
                      class="form-control"
                      disabled/>
                    <label for="date_create" class="form-label" th:text="#{ASSETS00_ED.DATE_CREATE}"></label>
                    <input
                      id="date_create"
                      type="text"
                      name="date_create_rec"
                      th:value="${T(opsw.uci.prj.utils.OpswDateUtils).DateTimeToStr01(CLM0.getDate_create())}"
                      class="form-control"
                      disabled/>
                  </div>
                </div>
                <div class="row g-3 align-self-end" style="display: inline-flex !important;">
                  <div class="col-md-8">
                    <label for="user_modify" class="form-label" th:text="#{ASSETS00_ED.USER_MODIFY}"></label>
                    <input
                      id="user_modify"
                      type="text"
                      name="user_modify_rec"
                      th:value="${CLM0.getUser_modify()}"
                      class="form-control"
                      disabled/>
                    <label for="date_modify" class="form-label" th:text="#{ASSETS00_ED.DATE_MODIFY}"></label>
                    <input
                      id="date_modify"
                      type="text"
                      name="date_modify_rec"
                      th:value="${T(opsw.uci.prj.utils.OpswDateUtils).DateTimeToStr01(CLM0.getDate_modify())}"
                      class="form-control"
                      disabled/>
                  </div>
                </div>
              </div>

              <!--Tab 1 content-->
              <div class="tab-pane fade show" id="nav-auction-details" role="tabpanel" aria-labelledby="nav-auction-details-tab">
                <div class="row g-3" style="display: inline-flex !important;">
                  <p th:text="#{ASSETS00_ED.AUCTION_DETAILS}"></p>
                  <div class="col-md-4">
                    <label for="statusdeff" class="form-label" th:text="#{ASSETS00_ED.STATUS}"></label>
                    <input
                      id="statusdeff"
                      type="text"
                      name="statusdeff"
                      th:field="*{statusdeff}"
                      class="form-control"
                      placeholder="Enter Status"
                      />
                  </div>
                  <div class="col-md-4">
                    <label for="uniqcode" class="form-label" th:text="#{ASSETS00_ED.INOQUE_CODE}"></label>
                    <input
                      id="uniqcode"
                      type="text"
                      name="uniqcode"
                      th:field="*{uniqcode}"
                      class="form-control"
                      placeholder="Enter unique code"
                      />
                  </div>
                  <div class="col-md-4">
                    <label for="auctionurl" class="form-label" th:text="#{ASSETS00_ED.AUCTION_URL}"></label>
                    <div class="input-group">
                      <span class="input-group-text">www</span>
                      <input
                        id="auctionurl"
                        type="text"
                        name="auctionurl"
                        th:field="*{auctionurl}"
                        class="form-control"
                        placeholder="Enter Auction url"
                        />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#symbModal2">
                      <i class="fas fa-book"></i> 
                      <span th:text="#{ASSETS00_ED.SYMB_INDEX}"></span>
                    </button>
                    <th:block th:replace="_symb_modals :: modal('symbModal2')">symb_modal</th:block>
                  </div>
                  <div class="col-md-3">
                    <label for="notary-name" class="form-label" th:text="#{ASSETS00_ED.NOTARY_NAME}"></label>
                    <input
                      id="notary-name"
                      type="text"
                      name="symb_name"
                      th:value="${symb.getName()}"
                      class="form-control"
                      placeholder="Enter Notary name"
                      disabled="true"
                      />
                  </div>
                  <div class="col-md-3">
                    <label for="notary-surname" class="form-label" th:text="#{ASSETS00_ED.NOTARY_SURNAME}"></label>
                    <input
                      id="notary-surname"
                      type="text"
                      name="symb_surename"
                      th:value="${symb.getSurename()}"
                      class="form-control"
                      placeholder="Enter Notary surname"
                      disabled="true"
                      />
                  </div>
                  <div class="col-md-3">
                    <label for="notary-tel" class="form-label" th:text="#{ASSETS00_ED.NOTARY_PHONE}"></label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="fa fa-phone" aria-hidden="true"></i></span>
                      <input
                        id="notary-tel"
                        type="text"
                        name="symb_tele"
                        th:value="${symb.getTele()}"
                        class="form-control"
                        placeholder="Enter Notary Telephone"
                        disabled="true"
                        />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="notary-email" class="form-label" th:text="#{ASSETS00_ED.NOTARY_EMAIL}"></label>
                    <div class="input-group">
                      <span class="input-group-text" id="inputGroupPrepend2">@</span>
                      <input
                        id="notary-email"
                        type="text"
                        name="symb_mail"
                        th:value="${symb.getEmail()}"
                        class="form-control"
                        placeholder="Enter Notary E-mail"
                        disabled="true"
                        />
                    </div>
                  </div>
                </div>  
              </div>

              <!-- Tab2 Content -->
              <div class="tab-pane fade row g-3" id="nav-first-information" role="tabpanel" aria-labelledby="nav-first-information-tab">
                <div class="row g-3" style="display: inline-flex !important;">
                  <p th:text="#{ASSETS00_ED.FIRST_INFO}"></p>
                  <div class="col-md-3">
                    <label for="borrname" class="form-label" th:text="#{ASSETS00_ED.BORROWER_NAME}"></label>
                    <input 
                      type="text"
                      name="borrname"
                      th:field="*{borrname}"
                      placeholder="Enter Borrower Name"
                      class="form-control" id="borrname" />
                  </div>
                  <div class="col-md-3">
                    <label for="property-id" class="form-label" th:text="#{ASSETS00_ED.PROPERTY_ID}"></label>
                    <input 
                      type="text"
                      name="property_id"
                      th:field="*{property_id}"
                      placeholder="Enter Property ID"
                      class="form-control" id="property-id" />
                  </div>
                  <div class="col-md-3">
                    <label for="callateral1" class="form-label" th:text="#{ASSETS00_ED.COLLATERAL_USE}"></label>
                    <input
                      type="text"
                      name="callateral1"
                      th:field="*{callateral1}"
                      placeholder="Enter Collateral Use"
                      class="form-control" id="callateral1" />
                  </div>
                  <div class="col-md-3">
                    <label for="callateral_sub_type" class="form-label" th:text="#{ASSETS00_ED.COLLATERAL-SUB_TYPE}"></label>
                    <input 
                      type="text" class="form-control" 
                      name="callateral_sub_type"
                      th:field="*{callateral_sub_type}"
                      placeholder="Enter Collateral Sub Type"
                      id="callateral_sub_type" />
                  </div>


                  <div class="col-md-3">
                    <label for="municipality" class="form-label" th:text="#{Municipality}"></label>
                    <input 
                      type="text"
                      name="municipality"
                      th:field="*{municipality}"
                      placeholder="Enter Municipality"
                      class="form-control" id="municipality" />
                  </div>
                  <div class="col-md-2">
                    <label for="city" class="form-label" th:text="#{ASSETS00_ED.CITY}"></label>
                    <input 
                      type="text"
                      name="city"
                      th:field="*{city}"
                      placeholder="Enter City"
                      class="form-control" id="city" />
                  </div>
                  <div class="col-md-3">
                    <label for="address" class="form-label" th:text="#{ASSETS00_ED.ADDRESS}"></label>
                    <input
                      type="text"
                      name="address"
                      th:field="*{address}"
                      placeholder="Enter Address"
                      class="form-control" id="address" />
                  </div>
                  <div class="col-md-2" style="width: 10% !important;">
                    <label for="zipcode" class="form-label" th:text="#{ASSETS00_ED.ZIP_CODE}"></label>
                    <input 
                      type="text" 
                      class="form-control" 
                      name="zipcode"
                      th:field="*{zipcode}"
                      placeholder="Enter Zip Code"
                      id="zipcode" />
                  </div>
                  <div class="col-md-3" style="width: 23% !important;">
                    <label for="gpscords" class="form-label" th:text="#{ASSETS00_ED.GPS_CORDS}"></label>
                    <div class="input-group">
                      <!--<span class="input-group-text" id="inputGroupPrepend2"><i class="fa fa-map-marker" aria-hidden="true"></i></span>-->
                      <button class="btn btn-outline-secondary" type="button" id="clipboard" onclick="myFunction()"><i class="fa fa-clone" aria-hidden="true"></i></button>
                      <input 
                        type="text" 
                        class="form-control" 
                        name="gpscords"
                        th:field="*{gpscords}"
                        placeholder="Enter GPS Coordinates"
                        id="gpscords" />
                    </div>
                    <div class="toast bg-success text-white" id="toastMessage" role="alert" aria-live="assertive" aria-atomic="true">
                      <div class="d-flex">
                        <div class="toast-body">
                          <span th:text="#{ASSETS00_ED.GPS_CORDS_COPY}"></span>
                          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span> 
                          </button>
                        </div>
                      </div>  
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="description" th:text="#{ASSETS00_ED.DESCRIPTION}"></label>
                    <div class="form-floating">
                      <textarea
                        style="height: 125px;"
                        type="text" 
                        class="form-control" 
                        name="description"
                        th:field="*{description}"
                        placeholder="Enter Description"
                        id="description"></textarea>
                      <label for="description" th:text="#{ASSETS00_ED.DESCRIPTION}"></label>
                    </div>
                  </div>
                  <div class="row" style="display: flex;align-items: center;justify-content: center;padding: 15px 0 15px 0;">
                    <div class="col-md-2">
                      <label for="landarea" class="form-label" th:text="#{ASSETS00_ED.LAND_AREA}"></label>
                      <input 
                        type="number" 
                        class="form-control" 
                        name="landarea"
                        th:field="*{landarea}"
                        placeholder="Enter Land Area"
                        id="landarea" />
                    </div>
                    <div class="col-md-2">
                      <label for="buildarea" class="form-label" th:text="#{ASSETS00_ED.BUILD_AREA}"></label>
                      <input 
                        type="number" 
                        class="form-control" 
                        name="buildarea"
                        th:field="*{buildarea}"
                        placeholder="Enter Build Area"
                        id="buildarea" />
                    </div>
                    <div class="col-md-2">
                      <label for="mainsurefacearea" class="form-label" th:text="#{ASSETS00_ED.SURFACE_AREA}"></label>
                      <input 
                        type="number" 
                        class="form-control" 
                        name="mainsurefacearea"
                        th:field="*{mainsurefacearea}"
                        placeholder="Enter Surface Area"
                        id="mainsurefacearea" />
                    </div>
                    <div class="col-md-2">
                      <label for="auxilliarysurefacearea" class="form-label" th:text="#{ASSETS00_ED.AUXILIARY_AREA}"></label>
                      <input 
                        type="number" 
                        class="form-control" 
                        name="auxilliarysurefacearea"
                        th:field="*{auxilliarysurefacearea}"
                        placeholder="Enter Auxilary Area"
                        id="auxilliarysurefacearea" />
                    </div>
                    <div class="col-md-2">
                      <label for="arbitarysurefacearea" class="form-label" th:text="#{ASSETS00_ED.ARBITARY_AREA}"></label>
                      <input 
                        type="number" 
                        class="form-control" 
                        name="arbitarysurefacearea"
                        th:field="*{arbitarysurefacearea}"
                        placeholder="Enter Arbitary Area"
                        id="arbitarysurefacearea" />
                    </div>
                  </div>
                  <div class="row" style="padding: 15px 0 15px 0;">
                    <div class="col-md-4">
                      <label for="fullownership" class="form-label" th:text="#{ASSETS00_ED.FULL_OWNERSHIP}"></label>
                      <select  class="form-select" th:field="*{fullownership}" id="fullownership" name="fullownership"  type="value">
                        <option value="" th:text="#{ASSETS00_ED.FULL_OWNERSHIP_EX1}"></option>
                        <option th:value="0" th:text="#{ASSETS00_ED.NO}"></option>
                        <option th:value="1" th:text="#{ASSETS00_ED.YES}"></option>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <label for="constructionyear" class="form-label" th:text="#{ASSETS00_ED.CONSTRUCTION_YEAR}"></label>
                      <input 
                        type="text"
                        name="constructionyear"
                        th:field="*{constructionyear}"
                        placeholder="Enter Construction Year"
                        class="form-control" id="constructionyear" />
                    </div>
                    <div class="col-md-3">
                      <label for="floor" class="form-label" th:text="#{ASSETS00_ED.FLOOR}"></label>
                      <input 
                        type="text"
                        name="floor"
                        th:field="*{floor}"
                        placeholder="Enter Floor"
                        class="form-control" id="floor" />
                    </div>
                  </div>
                  <div class="row" style="padding: 15px 0 15px 0;">
                    <div class="col-md-4">
                      <label for="auction_id" class="form-label" th:text="#{ASSETS00_ED.AUCTION_ID}"></label>
                      <input 
                        type="text"
                        name="auction_id"
                        th:field="*{auction_id}"
                        placeholder="Enter Auction ID"
                        class="form-control" id="auction_id" />
                    </div>
                    <div class="col-md-4">
                      <label for="uniqauction_code" class="form-label" th:text="#{ASSETS00_ED.INIQUE_AUCTION_CODE}"></label>
                      <input 
                        type="text"
                        name="uniqauction_code"
                        th:field="*{uniqauction_code}"
                        placeholder="Enter Unique Auction Code"
                        class="form-control" id="uniqauction_code" />
                    </div>
                    <div class="col-md-2">
                      <label for="auction_datedate" class="form-label" th:text="#{ASSETS00_ED.AUCTION_DATE}"></label>
                      <input 
                        type="date"
                        autocomplete="false"
                        name="auction_datedate"
                        th:field="*{auction_datedate}"
                        placeholder="Enter Auction Date"
                        class="form-control" id="auction_datedate" />
                    </div>
                    <div class="col-md-2">
                      <label for="auctiondate" class="form-label" th:text="#{ASSETS00_ED.AUCTION_DATE_MMYY}"></label>
                      <input 
                        type="text"
                        name="auctiondate"
                        th:field="*{auctiondate}"
                        placeholder="Enter Auction Date Month Year"
                        class="form-control" id="auctiondate" />
                    </div>
                  </div>  
                  <div class="row">
                    <div class="col-md-2">
                      <label for="startingprice" class="form-label" th:text="#{ASSETS00_ED.STARTING_PRICE}"></label>
                      <input 
                        type="number" 
                        class="form-control" 
                        name="startingprice"
                        th:field="*{startingprice}"
                        placeholder="Enter Starting Price"
                        id="startingprice" />
                    </div>
                    <div class="col-md-4">
                      <label for="landealink" class="form-label" th:text="#{ASSETS00_ED.LANDEA_LINK}"></label>
                      <input 
                        type="text"
                        name="landealink"
                        th:field="*{landealink}"
                        placeholder="Enter Landea Link"
                        class="form-control" id="landealink" />
                    </div>
                    <div class="col-md-3">
                      <label for="region" class="form-label" th:text="#{ASSETS00_ED.REGION}"></label>
                      <input 
                        type="text"
                        name="region"
                        th:field="*{region}"
                        placeholder="Enter Region"
                        class="form-control" id="region" />
                    </div>
                    <div class="col-md-3">
                      <label for="prefecture" class="form-label" th:text="#{ASSETS00_ED.PREFECTURE}"></label>
                      <input 
                        type="text"
                        name="prefecture"
                        th:field="*{prefecture}"
                        placeholder="Enter Prefecture"
                        class="form-control" id="prefecture" />
                    </div>
                  </div>
                </div>
              </div>

              <!-- Tab 3 Content -->
              <div class="tab-pane fade" id="nav-links" role="tabpanel" aria-labelledby="nav-links-tab">
                <p th:text="#{ASSETS00_ED.LINKS}"></p>
                <div class="col-md-4" style="padding: 10px 0 15px 0 !important;">
                  <a type="button" th:href="@{/assets/assets00/fillfromcrm?asset={asset} (asset = ${CLM0.asset})}" class="btn btn-info">
                    <span th:text="#{ASSETS00_ED.FILL_FROM_CRM}"></span>
                  </a>
                </div>
                <div class="row g-3">
                  <div class="col-md-6">
                    <label for="image1" class="form-label" th:text="#{ASSETS00_ED.IMAGE1}"></label>
                    <input 
                      type="text"
                      name="image1"
                      th:field="*{image1}"
                      placeholder="Enter Image 1"
                      class="form-control" id="image1" />
                  </div>
                  <div class="col-md-6">
                    <label for="image2" class="form-label" th:text="#{ASSETS00_ED.IMAGE2}"></label>
                    <input 
                      type="text"
                      name="image2"
                      th:field="*{image2}"
                      placeholder="Enter Image 2"
                      class="form-control" id="image2" />
                  </div>
                  <div class="col-md-6">
                    <label for="site" class="form-label" th:text="#{ASSETS00_ED.SITE}"></label>
                    <input 
                      type="text"
                      name="site"
                      th:field="*{site}"
                      placeholder="Enter Site"
                      class="form-control" id="site" />
                  </div>
                  <div class="col-md-6">
                    <label for="broker_site" class="form-label" th:text="#{ASSETS00_ED.BROKER_SITE}"></label>
                    <input 
                      type="text"
                      name="broker_site"
                      th:field="*{broker_site}"
                      placeholder="Enter Broker Site"
                      class="form-control" id="broker_site" />
                  </div>
                </div>
              </div>

              <!-- Tab 4 Content -->
              <div class="tab-pane fade" id="nav-final-information" role="tabpanel" aria-labelledby="nav-final-information-tab">
                <p th:text="#{ASSETS00_ED.FINAL_INFO}"></p>
                <div class="row">
                  <div class="col-md-4">
                    <label for="ekth_ektim" class="form-label" th:text="#{ASSETS00_ED.ASSESSMENT_REPORT}"></label>
                    <select  class="form-select" th:field="*{ekth_ektim}" id="ekth_ektim" name="ekth_ektim"  type="value">
                      <option value="" th:text="#{ASSETS00_ED.ASSESSMENT_REPORT_EX1}"></option>
                      <option th:value="0" th:text="#{ASSETS00_ED.NO}"></option>
                      <option th:value="1" th:text="#{ASSETS00_ED.YES}"></option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label for="techn_fakel" class="form-label" th:text="#{ASSETS00_ED.TECHNIKCAL_FOLDER}"></label>
                    <select  class="form-select" th:field="*{techn_fakel}" id="techn_fakel" name="techn_fakel"  type="value">
                      <option value="" th:text="#{ASSETS00_ED.TECHNICAL_FOLDER_EX1}"></option>
                      <option th:value="0" th:text="#{ASSETS00_ED.NO}"></option>
                      <option th:value="1" th:text="#{ASSETS00_ED.YES}"></option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label for="teaser" class="form-label" th:text="#{ASSETS00_ED.TEASER}"></label>
                    <select  class="form-select" th:field="*{teaser}" id="teaser" name="teaser"  type="value">
                      <option value="" th:text="#{ASSETS00_ED.TEASER_EX1}"></option>
                      <option th:value="0" th:text="#{ASSETS00_ED.NO}"></option>
                      <option th:value="1" th:text="#{ASSETS00_ED.YES}"></option>
                    </select>
                  </div>
                </div>  
                <div class="row" style="padding: 15px 0 15px 0;">
                  <div class="col-md-4">
                    <label for="subbroker_name" class="form-label" th:text="#{ASSETS00_ED.SUBBROKER_NAME}"></label>
                    <input 
                      type="text"
                      name="subbroker_name"
                      th:field="*{subbroker_name}"
                      placeholder="Enter Sub Broker Name"
                      class="form-control" id="subbroker_name" />
                  </div>
                  <div class="col-md-2">
                    <label for="visitors_count" class="form-label" th:text="#{ASSETS00_ED.VISITORS_COUNT}"></label>
                    <input 
                      type="number" 
                      class="form-control" 
                      name="visitors_count"
                      th:field="*{visitors_count}"
                      placeholder="Enter Visitors Count"
                      id="visitors_count" />
                  </div>
                  <div class="col-md-3">
                    <label for="begin_endiaferon" class="form-label" th:text="#{ASSETS00_ED.INITIAL_INTEREST}"></label>
                    <select  class="form-select" th:field="*{begin_endiaferon}" id="begin_endiaferon" name="begin_endiaferon"  type="value">
                      <option value="" th:text="#{ASSETS00_ED.INITIAL_INTEREST_EX1}"></option>
                      <option th:value="0" th:text="#{ASSETS00_ED.NO}"></option>
                      <option th:value="1" th:text="#{ASSETS00_ED.YES}"></option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <label for="leads" class="form-label" th:text="#{ASSETS00_ED.LEADS}"></label>
                    <input 
                      type="number" 
                      class="form-control" 
                      name="leads"
                      th:field="*{leads}"
                      placeholder="Enter Leads"
                      id="leads" />
                  </div>
                </div>
                <div class="row" style="padding: 15px 0 15px 0;">
                  <div class="col-md-3">
                    <label for="endiaferomenos_info" class="form-label" th:text="#{ASSETS00_ED.INTERESTED}"></label>
                    <input 
                      type="text" 
                      class="form-control" 
                      name="endiaferomenos_info"
                      th:field="*{endiaferomenos_info}"
                      placeholder="Enter Ιnterested"
                      id="endiaferomenos_info" />
                  </div>
                  <div class="col-md-3">
                    <label for="endiaferomenos_info1" class="form-label" th:text="#{ASSETS00_ED.INTERESTED2}"></label>
                    <input 
                      type="text" 
                      class="form-control" 
                      name="endiaferomenos_info1"
                      th:field="*{endiaferomenos_info1}"
                      placeholder="Enter Ιnterested 2"
                      id="endiaferomenos_info1" />
                  </div>
                  <div class="col-md-3">
                    <label for="endiaferomenos_info3" class="form-label" th:text="#{ASSETS00_ED.INTERESTED3}"></label>
                    <input 
                      type="text" 
                      class="form-control" 
                      name="endiaferomenos_info3"
                      th:field="*{endiaferomenos_info3}"
                      placeholder="Enter Ιnterested 3"
                      id="endiaferomenos_info3" />
                  </div>
                  <div class="col-md-3">
                    <label for="endiaferomenos_info4" class="form-label" th:text="#{ASSETS00_ED.INTERESTED4}"></label>
                    <input 
                      type="text" 
                      class="form-control" 
                      name="endiaferomenos_info4"
                      th:field="*{endiaferomenos_info4}"
                      placeholder="Enter Ιnterested 4"
                      id="endiaferomenos_info4" />
                  </div>
                  <div class="col-md-3">
                    <label for="endiaferomenos_info5" class="form-label" th:text="#{ASSETS00_ED.INTERESTED5}"></label>
                    <input 
                      type="text" 
                      class="form-control" 
                      name="endiaferomenos_info5"
                      th:field="*{endiaferomenos_info5}"
                      placeholder="Enter Ιnterested 5"
                      id="endiaferomenos_info5" />
                  </div>
                </div>
                <div class="row" style="padding: 15px 0 15px 0;">
                  <div class="col-md-6">
                    <!--<label class="form-label" for="comments1">Comments</label>-->
                    <div class="form-floating">
                      <textarea
                        style="height: 125px;"
                        type="text" 
                        class="form-control" 
                        name="comments1"
                        th:field="*{comments1}"
                        placeholder="Enter Comments 1"
                        id="comments1"></textarea>
                      <label for="comments1" th:text="#{ASSETS00_ED.COMMENTS}"></label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <!--<label class="form-label" for="comments2">Comments 2</label>-->
                    <div class="form-floating">
                      <textarea
                        style="height: 125px;"
                        type="text" 
                        class="form-control" 
                        name="comments2"
                        th:field="*{comments2}"
                        placeholder="Enter Comments 2"
                        id="description"></textarea>
                      <label for="comments2" th:text="#{ASSETS00_ED.COMMENTS}"></label>
                    </div>
                  </div>
                </div>
                <div class="row" style="padding: 15px 0 15px 0;">
                  <div class="col-md-3">
                    <label for="marketability_name" class="form-label" th:text="#{ASSETS00_ED.MARKETABILITY_NAME}"></label>
                    <input 
                      type="number" 
                      class="form-control" 
                      name="marketability_name"
                      th:field="*{marketability_name}"
                      placeholder="Enter Marketability Name"
                      id="marketability_name" />
                  </div>
                  <div class="col-md-3">
                    <label for="landea_leads" class="form-label" th:text="#{ASSETS00_ED.LANDEA_LEADS}"></label>
                    <input 
                      type="text" 
                      class="form-control" 
                      name="landea_leads"
                      th:field="*{landea_leads}"
                      placeholder="Enter Landea Leads"
                      id="landea_leads" />
                  </div>
                  <div class="col-md-3">
                    <label for="update_auction" class="form-label" th:text="#{ASSETS00_ED.UPDATE_AUCTION}"></label>
                    <input 
                      type="text" 
                      class="form-control" 
                      name="update_auction"
                      th:field="*{update_auction}"
                      placeholder="Enter Update Auction"
                      id="update_auction" />
                  </div>
                  <div class="col-md-3">
                    <label for="high_interest" class="form-label" th:text="#{ASSETS00_ED.HIGH_INTEREST}"></label>
                    <input 
                      type="text" 
                      class="form-control" 
                      name="high_interest"
                      th:field="*{high_interest}"
                      placeholder="Enter High Interest"
                      id="high_interest" />
                  </div>
                </div>
                <div class="col-md-6">
                  <!--<label class="form-label" for="comments2">Comments 2</label>-->
                  <div class="form-floating">
                    <textarea
                      style="height: 125px;"
                      type="text" 
                      class="form-control" 
                      name="landea_comments"
                      th:field="*{landea_comments}"
                      placeholder="Enter Landea Comments"
                      id="landea_comments"></textarea>
                    <label for="landea_comments" th:text="#{ASSETS00_ED.LANDEA_COMMENTS}"></label>
                  </div>
                </div>
              </div>
              <!-- Tab 05-->
              <div class="tab-pane fade show" id="nav-other" role="tabpanel" aria-labelledby="nav-other-tab">
                <div class="row g-3" style="padding: 15px 0 0 0;">
                  <div th:each="field, itemstat : *{assets00flrec}" class="col-md-3">
                    <input
                      type="hidden" 
                      class="form-control"
                      th:field="*{assets00flrec[__${itemstat.index}__].fld}"
                      th:name="${field.getFld() + '_fld'}"
                      th:id="${field.getFld() + '_fld'}" />
                    <label th:if="${field.getType()==1}" th:for="${field.getFld() + '_text'}" class="form-label" th:text="${field.getFldDescr()}"></label>
                    <input
                      th:if="${field.getType()==1}"
                      type="text" 
                      class="form-control"
                      th:field="*{assets00flrec[__${itemstat.index}__].valstr}"
                      th:name="${field.getFld()}"
                      th:placeholder="${'Enter ' + field.getFldDescr()}"
                      th:id="${field.getFld() + '_text'}" />

                    <label th:if="${field.getType()==2}" th:for="${field.getFld() + '_number'}" class="form-label" th:text="${field.getFldDescr()}"></label>
                    <input
                      th:if="${field.getType()==2}"
                      type="number" 
                      class="form-control"
                      th:field="*{assets00flrec[__${itemstat.index}__].valnum}"
                      th:name="${field.getFld()}"
                      th:placeholder="${'Enter ' + field.getFldDescr()}"
                      th:id="${field.getFld() + '_number'}" />
                  </div>  
                </div>              
              </div>
            </div>
            <div class="row g-3" style="margin-bottom: 15px;margin-top: 4vh">
              <div class="col-md-2">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>
                  <span th:text="#{ASSETS00_ED.SAVE}"></span>
                </button>
                <!--<a th:href="@{/assets/assets00/list01}" class="btn btn-danger"><i class="fa fa-close"></i>Cancel</a>-->
                <span> </span>
              </div>
              <div class="col-md-2">
                <button class="btn btn-warning" onClick="history.go(0);">
                  <i class="fa fa-clone"></i>
                  <span th:text="#{ASSETS00_ED.RELOAD}"></span>
                </button>
                <span> </span>
              </div>
              <div class="col-md-2">
                <button class="btn btn-danger" onclick="history.back()">
                  <i class="fa fa-close"></i>
                  <span th:text="#{ASSETS00_ED.CANCEL}"></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>  

    <div class="overlay">

    </div>
    

    <script type="text/javascript">
      $(document).ready(function () {
          $("#sidebar").mCustomScrollbar({
              theme: "minimal"
          });

          $('#dismiss, .overlay').on('click', function () {
              $('#sidebar').removeClass('active');
              $('.overlay').removeClass('active');
          });

          $('#sidebarCollapse').on('click', function () {
              $('#sidebar').addClass('active');
              $('.overlay').addClass('active');
              $('.collapse.in').toggleClass('in');
              $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function () {
        $('#symbModal2').on('show.bs.modal', function () {
              var asset = document.getElementById("asset").value;
              $.get("/OPSWGOLUMWEBSERV/modals/symb/modal01?asset=" + asset, function (data) {
                  $('#symbModal2').find('.modal-body').html(data);
              });
          });
      });
    </script>
  </body>
</html>