<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"></meta>
    <title th:text="#{ASSETS00_PR.TITLE}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>

    <link rel="icon" th:href="@{static/assets/favicon.ico}" type = "image/x-icon">
      <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css}" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"></link>
      <!-- Our Custom CSS -->
      <link type="text/css" th:href="@{/static/css/style3.css}" rel="stylesheet"></link>
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css}"></link>
      <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"></link>

      <!-- Font Awesome JS -->
      <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

      <!-- AWESOME DATA TABLE -------->
      <script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
      <!--<script defer src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" type="text/javascript"></script>-->
      <script defer src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" type="text/javascript"></script>
      <!--<link rel="stylesheet" defer th:href="@{https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css}"></link>-->
      <link rel="stylesheet" defer th:href="@{https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css}"></link>
      <link rel="stylesheet" defer th:href="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css}"></link>
      <!--<link rel="stylesheet" defer th:href="@{https://getbootstrap.com/css/#tables-responsive}"></link>-->
      <!--Test---------------------------------------->
      <!--<script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>-->
      <!--<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js" type="text/javascript"></script>
      <link rel="stylesheet" defer th:href="@{https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css}"></link>-->

      
      <script>
        $(document).ready(function() {
          var table = $('#table1').DataTable({
                colReorder: {
                  realtime: false,
                },
          });
          var info = table.page.info();

          $('#table1 tbody').on( 'click', 'tr', function () {
              if ( $(this).hasClass('selected') ) {
                  $(this).removeClass('selected');
              }
              else {
                  table.$('tr.selected').removeClass('selected');
                  $(this).addClass('selected');
              }
          } );

          $('#button-edit').click( function () {
            //var vid = table.row('.selected').$('#current').attr('value');
            var row = table.row('.selected').data();
            
            let params1RedirectUrl = $('.selected').attr('params1RedirectUrl');
            
            if (row !== undefined && row !== null && row[0] !== undefined && row[0] !== null) {
              window.location.href = '/OPSWGOLUMWEBSERV/assets/assets00/ed01?asset=' + row[0] +
                      '&redirectUrl=' + params1RedirectUrl;
            }
            //Http.open("GET", url);
            //Http.send();
          } );
          
          $('#table1').on('dblclick','tr',function(e){
              e.stopPropagation();
              let rowID = $(this).attr('id');
              let params1RedirectUrl = $(this).attr('params1RedirectUrl');
             
            if (rowID !== undefined && rowID !== null) {
              window.location.href = '/OPSWGOLUMWEBSERV/assets/assets00/ed01?asset=' + rowID +
                      '&redirectUrl=' + params1RedirectUrl;
            }
          });
          
          
          
          $('.assetDel').click(function() {
            var qID = $(this).attr('assetId');

            $.ajax({
              url: "/OPSWGOLUMWEBSERV/assets/assets00/delete02/" + qID,
              type: 'DELETE',
              contentType: "application/json",
              data: "{}",
              success: function (data, textStatus, jqXHR) {
                table.row('#' + qID).remove().draw();
              },
              error: function (jqXHR, textStatus, errorThrown) {
                var vobj = jqXHR.responseJSON;
                var mess = "N/A";
                if (vobj && vobj.reason)
                {
                  mess = vobj.reason;
                }
                alert('Delete fails due to an error: \"' + mess + '\", code: ' + textStatus);
              },
              complete: function (jqXHR, textStatus ) {
                $('#modal-delete' + qID).modal().hide();
                $('.modal-backdrop').hide();
              }
            });
          });
        } );
      </script>
      <!--Test---------------------------------------->
      <script>
        $(document).ready(function () {
        });
      </script>
      <!------------------------------>
      
      <style>
        span.overfl {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 10vw;
          display: block;
        }
      </style>
  </head>
  <body>

    <div class="wrapper">
      <nav id="sidebar">
        <div id="dismiss">
          <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
          <h3 th:text="#{MENOU00.MAIN_MENU}"></h3>
        </div>

        <ul class="list-unstyled components">
          <div th:each="choice : ${menu}">
            <li th:if="${choice.isIsActive() and !choice.isHaveSub()}" class="active">
              <a th:href="@{${choice.getPath()}}" data-toggle="collapse" aria-expanded="false">
                <i th:if="${choice.getIcon()!= null}" th:class="${choice.getIcon()}"></i>
                <img style="width:28px;margin-right:-2px;margin-left:-8px;" 
                  th:if="${choice.getImage()!=null}" th:src="${choice.getImage()}"/>
                <span th:text="${choice.getCaption()}"></span>
              </a>
            </li>
            <li th:if="${!choice.isIsActive() and !choice.isHaveSub()}">
              <a th:href="@{${choice.getPath()}}">
                <i th:if="${choice.getIcon()!= null}" th:class="${choice.getIcon()}"></i>
                <img
                  style="width:28px;margin-right:-2px;margin-left:-8px;"
                  th:if="${choice.getImage()!=null}" th:src="${choice.getImage()}"/>
                <span th:text="${choice.getCaption()}"></span>
              </a>
            </li>
            <li th:if="${choice.isHaveSub()}">
              <a th:href="@{'#' + ${choice.getId()}}" data-toggle="collapse" aria-expanded="false">
                <i th:if="${choice.getIcon()!=null}" th:class="${choice.getIcon()}"></i> 
                <span th:text="${choice.getCaption()}"></span>
              </a>
              <ul class="collapse list-unstyled" th:id="${choice.getId()}">
                <li th:each="subchoice : ${choice.getSubs()}">
                  <a th:href="@{${subchoice.getPath()}}" >
                    <i th:if="${subchoice.getIcon()!= null}" th:class="${subchoice.getIcon()}"></i> 
                    <span th:text="${subchoice.getCaption()}"></span>
                  </a>
                </li>
              </ul>
            </li>
          </div>
        </ul>
        <div class="sidebar-footer">
          <span th:text="${app_prop.getAppVersion()}"></span>
        </div>
      </nav>
      <!--Content-->
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
            </button>
            <label th:if="${xrhsh.getDescr() != null}" th:text="${'Portofolio: ' + xrhsh.getCode() + ' - ' + xrhsh.getDescr()}"></label>
            <!--<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
            </button>-->
          </div>
        </nav>
        <div class="container">
          <div class="row">
            <h1 th:text="#{ASSETS00_PR.TITLE1}"></h1>
          </div>
        </div>


        <form class="row g-3" method="POST" th:object="${params}">
          <div class="col-md-4">
            <label for="dataFromAssets" class="form-label" th:text="#{ASSETS00_PR.DATE_FROM}"></label>
            <input type="date" class="form-control" id="dataFromAssets" autocomplete="false" name="dateFrom" th:field="*{searchDates.dateFrom}"/>
          </div>
          <div class="col-md-4">
            <label for="dataToAssets" class="form-label" th:text="#{ASSETS00_PR.DATE_TO}"></label>
            <input type="date" class="form-control" id="dataToAssets" autocomplete="false" name="dateTo" th:field="*{searchDates.dateTo}"/> 
          </div>
          <div class="col-md-4">
            <label for="symbSelect" class="form-label" th:text="#{ASSETS00_PR.SYMB}"></label>
            <select id="symbSelect" class="form-select" th:field="*{symb_id}" name="symb_id"  type="number">
              <option value="" th:text="#{ASSETS00_PR.SYMB_EX1}"></option>
              <option th:each="s : ${CLM1}"
                      th:value="${s.getId()}"
                      th:text="${s.getName()} + ' ' + ${s.getSurename()}">
              </option>
            </select>
          </div>
          <div class="row g-3">
            <div class="col-md-2">
              <button type="submit" th:formaction="@{/assets/assets00/list01}" class="btn btn-primary" name="action" value="search"><i class="fas fa-search"></i>
                <span th:text="#{ASSETS00_PR.SEARCH}"></span>
              </button>
            </div>
            <div class="col-md-2">
              <button type="submit" th:formaction="@{/actions/exportfile/post02}" class="btn btn-info" name="action" value="export"><i class="fas fa-download"></i>
                <span th:text="#{ASSETS00_PR.EXPORT}"></span>
              </button>
            </div>
            <div class="col-md-2">
              <button type="button" id="button-edit" class="btn btn-success" ><i class="fa fa-edit"></i>
                <span th:text="#{ASSETS00_PR.EDIT}"></span>
              </button>
            </div>
          </div>  
        </form>
        
        <div style="margin-top: 4vh"> </div>
        
        <!--<div class="table-responsive">-->
        <table id="table1" style="width:100%; table-layout: fixed;" class="hover table-responsive stripe">
          <thead>
            <tr>
              <th rowspan="2" th:text="#{ASSETS00_PR.ID}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.AAUCI}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.ASIGNMENT_FILE}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.INTERNAL_KEY}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.AUCTION_STATUS}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.UNIQUE_CODE}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.AUCTION_URL}"></th>
              
              <th colspan="2" th:text="#{ASSETS00_PR.SYMB_ABS}"></th>
              
              <th rowspan="2" th:text="#{ASSETS00_PR.BUYER}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.PRODUCER}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.COUNT_ASSETS}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.BORROW_NAME}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.PROPERTY_ID}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.COLLATERAL_USE1}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.COLLATERAL_SYB}"></th>
              
              <th colspan="5" th:text="#{ASSETS00_PR.POSITION_INFOS_ABS}"></th>
              
              <th rowspan="2" th:text="#{ASSETS00_PR.LANDAREA}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.BUILDAREA}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.MAINSURFACE}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.AUXILIARYSURFACE}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.ARBITARYSURFACE}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.FULOWNERSHIP}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.CONSTRUCTIONYEAR}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.FLOOR}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.AUCTIONID}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.AUCTION_DATE}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.STARTING_PRICE}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.LANDEA_LINK}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.REGION}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.PREFECTURE}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.OWNERSHIP_TYPE}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.AUCTION_DATE_MMYY}"></th>
              
              <th colspan="3" th:text="#{ASSETS00_PR.IMAGES_ABS}"></th>
              
              <th rowspan="2" th:text="#{ASSETS00_PR.OTHER_COMMENTS}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.ESSAY}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.FINAL_PACKET}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.TEASER}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.BROKER_UCI_LINK}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.SUBBROKERS}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.NUMBER_VISITORS}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.BEGIN_COMM}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.LEADS}"></th>
              
              <th colspan="5" th:text="#{ASSETS00_PR.INFOS_ABS}"></th>
              
              <th colspan="2" th:text="#{ASSETS00_PR.COMMENTS_ABS}"></th>
              
              <th rowspan="2" th:text="#{ASSETS00_PR.MARKETABIITY}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.LANDEA_LEADS}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.LANDEA_COMMENTS}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.UPDATE_AUCTION}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.HIGH_INTEREST}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.USER_CREATE}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.DATE_CREATE}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.USER_MODIFY}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.DATE_MODIFY}"></th>
              <th rowspan="2" th:text="#{ASSETS00_PR.ACTIONS}"></th>
            </tr>
            <tr>
              <!--A/A UCI	Assignment File	Internal Key	Auction Status / Κατάσταση	Mοναδικός Kωδικός	Auction URL	
              Συμβολαιογράφος	Συμβολαιογράφος Τηλέφωνο	Buyer	Producer	Count Assets	Borrower Name	Property ID	
              Collateral Use 1	Collateral Sub type	Municipality	City	Address	Zipcode	GPSCoordinates	Description	
              Land Area	Built Area	Main Surface Area (sqm)	Auxiliary Surface Area (sqm)	Arbitrary Surface Area (sqm)	
              Full Ownership Flag	Construction Year	Floor	Auction_ID	Unique Auction Code	Auction date	
              StartingPrice	Landea link	Region	Prefecture	Ownership Type	 Auction Date Month_YEAR 	
              Image01	Image02	Image03	Άλλα σχόλια επί του ακινήτου ή της προώθησης	ΕΚΘΕΣΗ ΕΚΤΙΜΗΣΗΣ (ΝΑΙ / ΌΧΙ)	
              ΤΕΧΝΙΚΟΣ ΦΑΚΕΛΟΣ (NAI/OXI) 	TEASER  (NAI/OXI)	SPITOGATOS ή XE LINK 	BROKER WEBSITE LINK(UCI)	
              SUB BROKERS (Name)	 ΠΛΗΘΟΣ ΠΡΟΒΟΛΩΝ- ΕΠΙΣΚΕΨΕΩΝ ΚΑΤΑΧΩΡΗΣΗΣ	ΑΡΧΙΚΟ ΕΝΔΙΑΦΕΡΟΝ (NAI/OXI)	LEADS	 
              ΣΤΟΙΧΕΙΑ ΕΝΔΙΑΦΕΡΟΜΕΝΟΥ No1	 ΣΤΟΙΧΕΙΑ ΕΝΔΙΑΦΕΡΟΜΕΝΟΥ No2	 ΣΤΟΙΧΕΙΑ ΕΝΔΙΑΦΕΡΟΜΕΝΟΥ No3	 ΣΤΟΙΧΕΙΑ ΕΝΔΙΑΦΕΡΟΜΕΝΟΥ No4	 
              ΣΤΟΙΧΕΙΑ ΕΝΔΙΑΦΕΡΟΜΕΝΟΥ No5	ΣΧΟΛΙΑ Ι	ΣΧΟΛΙΑ ΙΙ	Marketability rate	Landea Leads	
              Landea Comments	Update Auction	HIGH INTEREST

              -->
              <th th:text="#{ASSETS00_PR.SYMB}"></th>
              <th th:text="#{ASSETS00_PR.SYMB_TEL}"></th>
              <th th:text="#{ASSETS00_PR.MUNICIPALITY}"></th>
              <th th:text="#{ASSETS00_PR.CITY}"></th>
              <th th:text="#{ASSETS00_PR.ADDRESS}"></th>
              <th th:text="#{ASSETS00_PR.ZIPCODE}"></th>
              <th th:text="#{ASSETS00_PR.GPSCORDS}"></th>
              
              <th th:text="#{ASSETS00_PR.IMAGE01}"></th>
              <th th:text="#{ASSETS00_PR.IMAGE02}"></th>
              <th th:text="#{ASSETS00_PR.IMAGE03}"></th>
              
              <th th:text="#{ASSETS00_PR.INFOS1}"></th>
              <th th:text="#{ASSETS00_PR.INFOS2}"></th>
              <th th:text="#{ASSETS00_PR.INFOS3}"></th>
              <th th:text="#{ASSETS00_PR.INFOS4}"></th>
              <th th:text="#{ASSETS00_PR.INFOS5}"></th>
              
              <th th:text="#{ASSETS00_PR.COMMENTS1}"></th>
              <th th:text="#{ASSETS00_PR.COMMENTS2}"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each = "ass00: ${CLM0}" th:id = "${ass00.getAsset()}" th:params1RedirectUrl = "${params1RedirectUrl}">
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getAsset()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getAauci()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${T(opsw.uci.prj.utils.OpswDateUtils).DateToStr01(ass00.getAssfile())}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getIntrnlkey()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getStatusdeff()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getUniqcode()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getAuctionurl()}"></span></td>
              <td width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}">
                <span class = "overfl" th:text = "${ass00.getSymb_name()}"></span>
                <span class = "overfl" th:text = "${ass00.getSymb_surename()}"></span>
              </td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getSymb_tele()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getBuyer()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getProducer()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getCountass()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getBorrname()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getProperty_id()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getCallateral1()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getCallateral_sub_type()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getMunicipality()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getCity()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getAddress()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getZipcode()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getGpscords()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getLandarea()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getBuildarea()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getMainsurefacearea()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getAuxilliarysurefacearea()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getArbitarysurefacearea()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getFullownership()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getConstructionyear()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getFloor()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getAuction_id()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${T(opsw.uci.prj.utils.OpswDateUtils).DateToStr01(ass00.getAuction_date())}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getStartingprice()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getLandealink()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getRegion()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getPrefecture()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getOwnership_type()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getAuctiondate()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getImage1()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getImage2()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getImage3()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getComments_sea()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getEkth_ektim()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getTechn_fakel()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getTeaser()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getBroker_site()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getSubbroker_name()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getVisitors_count()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getBegin_endiaferon()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getLeads()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getEndiaferomenos_info1()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getEndiaferomenos_info2()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getEndiaferomenos_info3()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getEndiaferomenos_info4()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getEndiaferomenos_info5()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getComments1()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getComments2()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getMarketability_rate()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getLandea_leads()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getLandea_comments()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getUpdate_auction()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getHigh_interest()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getUser_create()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${T(opsw.uci.prj.utils.OpswDateUtils).DateTimeToStr01(ass00.getDate_create())}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${ass00.getUser_modify()}"></span></td>
              <td><span class = "overfl" width = "20" th:title = "#{ASSETS00_PR.DBL_CLK}" th:text = "${T(opsw.uci.prj.utils.OpswDateUtils).DateTimeToStr01(ass00.getDate_modify())}"></span></td>
              <td>
                <a data-toggle="modal" data-target="#modal-delete"
                   th:attr="data-target='#modal-delete' + ${ass00.getAsset()}" class="btn btn-danger btn-sm mb-3">
                  <i class="fa fa-trash-alt"></i>  
                  <span th:text="#{ASSETS00_PR.DELETE}"></span>
                </a>
                
                <div class="modal modal-delete" th:id="'modal-delete' + ${ass00.getAsset()}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button style="align-self: flex-start;margin-left: 0" type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×
                                </button>
                                <h3 id="delModalLabel" th:text="#{ASSETS00_PR.DELETE_CONF}"></h3>
                            </div>
                            <div class="modal-body">
                                <p class="error-text"><strong th:text="#{ASSETS00_PR.DELETE_CONF_MESS}"></strong></p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">
                                  <span th:text="#{ASSETS00_PR.CANCEL}"></span>
                                </button>
                                <!--<a th:href="@{/assets/assets00/delete01/{asset} (asset=${ass00.getAsset()}) }">
                                    <span class="btn btn-danger" value="delete" th:text="#{ASSETS00_PR.DELETE}"></span>
                                </a>-->
                              <button class="btn btn-danger assetDel" data-dismiss="modal" aria-hidden="true" th:assetId="${ass00.getAsset()}">
                                <span th:text="#{ASSETS00_PR.DELETE}"></span>
                              </button>

                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!--end delete modal-->
              </td>
            </tr>
          </tbody>
        </table>
        <!--</div>-->
      </div>
    </div>

    <div class="overlay"></div>

    <div class="overlay"></div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

  </body>
</html>
