<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Customer Managment System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">


</head>
<body>
<div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
          <h1 class=""text-center>Update Customer</h1>
          <div class="card-body">
            <form th:action="@{/gram/gram01/ed01/post01/{gram} (gram=${CLM0.gram})}" th:object="${CLM0}" method="POST">
              <div class="form-group">
                <label>Field Type</label>
                <input
                        type="number"
                        name="field_type"
                        th:field="*{field_type}"
                        class="form-control"
                        placeholder="Enter field type"
                />
                <label>Field Name</label>
                <input
                        type="text"
                        name="field_name"
                        th:field="*{field_name}"
                        class="form-control"
                        placeholder="Enter field name"
                />
                <label>Alpharithmetic Value</label>
                <input
                        type="text"
                        name="value_str"
                        th:field="*{value_str}"
                        class="form-control"
                        placeholder="Enter Alpharithmetic Value"
                />
                <label>Arithmetic Value</label>
                <input
                        type="number"
                        name="value_num"
                        th:field="*{value_num}"
                        class="form-control"
                        placeholder="Enter Arithmetic Value"
                />
              </div> 
              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <a th:href="@{/gram00/ed01/{gram}}" class="btn btn-secondary">Cancel</a>
              </div>
            </form>
          </div>
        </div>

        <div class="overlay"></div>

        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    </body>
</html>
