<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Gram00 Manage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link rel="icon" th:href="@{static/assets/favicon.ico}" type = "image/x-icon">
    <link type="text/css" th:href="@{/static/css/style3.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css}" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css}">
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <!-- Font Awesome JS -->
    <link rel=“stylesheet” href=“https://use.fontawesome.com/releases/v5.5.0/css/all.css” integrity=“sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU” crossorigin=“anonymous”>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <!-- AWESOME DATA TABLE -------->
    <script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
    <!--<script defer src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" type="text/javascript"></script>-->
    <script defer src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <!--<link rel="stylesheet" defer th:href="@{https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css}"></link>-->
    <link rel="stylesheet" defer th:href="@{https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css}"></link>
    <link rel="stylesheet" defer th:href="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" defer th:href="@{http://getbootstrap.com/css/#tables-responsive}"></link>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
      let table = new DataTable('#table1', {
        ordering: false
    });
});
    </script>
    <!------------------------------>


  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class=""text-center>Edit Gram00</h1>
            <form th:action="@{/gram/gram00/ed01/post01?gram={gram} (gram = ${CLM0.gram})}" th:object="${CLM0}" method="POST">
              <div class="card-body">
                <div class="form-group">
                  <label>Description</label>
                  <input
                    type="text"
                    name="descr"
                    th:field="*{descr}"
                    class="form-control"
                    placeholder="Enter Gram Descr"
                    />
                  <label>Description Sea</label>
                  <input
                    type="text"
                    name="descr_sea"
                    th:field="*{descr_sea}"
                    class="form-control"
                    placeholder="Enter Description Sea"
                    />
                  <label>Start from line</label>
                  <input
                    type="number"
                    name="start_line"
                    th:field="*{start_line}"
                    class="form-control"
                    placeholder="Enter start line"
                    />
                </div>  
                <div class="container">
                  <div class="row">
                    <h1>List of Gram01</h1>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      <a th:href="@{/gram/gram01/ed01/{gram} (gram=${CLM0.gram})}" class="btn btn-primary btn-sm mb-3" th:if="${CLM0.getGram()!=null}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add Field
                      </a>
                    </div>
                  </div>
                </div>
                <table id="table1" class="hover" style="width:100%;" th:if="${CLM0.getGram()!=null}">
                  <thead>
                    <tr>
                      <th>Excel Column</th>
                      <th>Field Type</th>
                      <th>Fielad Name</th>
                      <th>Value Str</th>
                      <th>Value Num</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each = "gram01: ${CLM1}">
                      <td th:text = "${gram01.getExcel_index()}"></td>
                      <td th:text = "${gram01.getField_type()}"></td>
                      <td th:text = "${gram01.getField_name()}"></td>
                      <td th:text = "${gram01.getValue_str()}"></td>
                      <td th:text = "${gram01.getValue_num()}"></td>
                      <td>
                        <a th:href="@{/gram/gram01/ed01/{gram}?senu={senu}(gram=${gram01.gram}, senu=${gram01.senu})}" class="btn btn-primary btn-sm mb-3">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a th:href ="@{/gram/gram01/delete01/{gram}/{senu} (gram=${gram01.gram}, senu=${gram01.senu})}" class="btn btn-danger btn-sm mb-3">
                          <i class="fa fa-trash-alt"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <div class="box-footer">
                <a th:href="@{/gram/gram00/list01}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i>Back</a>
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  <div class="overlay"></div>

  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

</body>
</html>