<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title th:text = "#{GRAM01_ED.TITLE}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" th:href="@{static/assets/favicon.ico}" type = "image/x-icon">
    <link type="text/css" th:href="@{/static/css/style3.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css}" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css}">
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class=""text-center th:text="#{GRAM01_ED.TITLE1}"></h1>
            <div class="card-body">
              <form th:action="@{/gram/gram01/ed01/post01/{gram}?senu={senu} (gram=${CLM0.gram}, senu=${CLM0.senu})}" th:object="${CLM0}" method="POST">
                <div class="form-group">
                  <label th:text="#{GRAM01_ED.FIELD_TYPE}"></label>
                  <select class="form-control" th:field="*{field_type}" name="field_type">
                    <option value="" th:text="#{GRAM01_ED.FIELD_TYPE_EX1}"></option>
                    <option th:each="field : ${fieldsList1}"
                            th:value="${field.getCode()}"
                            th:text="${field.getCode()} +' - '+${field.getDescr()}">
                    </option>
                  </select>
                  <label th:text="#{GRAM01_ED.FIELD_NAME}"></label>
                  <select  class="form-control" th:field="*{field_name}" name="field_name"  type="value">
                    <option value="" th:text="#{GRAM01_ED.FIELD_TYPE_EX1}"></option>
                    <option th:each="field : ${fieldsList}"
                            th:value="${field.getCode()}"
                            th:text="${field.getDescr()} + ' - ' + ${field.getCode()}">
                    </option>
                  </select>
                  <label th:text="#{GRAM01_ED.EXCEL_FIELD_EX1}"></label>
                  <input
                    type="number"
                    name="excel_index"
                    th:field="*{excel_index}"
                    class="form-control"
                    placeholder="Enter Excel index"
                    />
                  <label th:text="#{GRAM01_ED.ALPHARITHM_VAL}"></label>
                  <input
                    type="text"
                    name="value_str"
                    th:field="*{value_str}"
                    class="form-control"
                    placeholder="Enter Alpharithmetic Value"
                    />
                  <label th:text="#{GRAM01_ED.ARITHMETIC_VAL}"></label>
                  <input
                    type="number"
                    name="value_num"
                    th:field="*{value_num}"
                    class="form-control"
                    placeholder="Enter Arithmetic Value"
                    />
                  <label th:text="#{GRAM01_ED.DATE_FORMAT}"></label>
                  <input
                    type="text"
                    name="date_format"
                    th:field="*{date_format}"
                    class="form-control"
                    placeholder="dd/MM/yyyy"
                    />
                  <label th:text="#{GRAM01_ED.CONCAT_ORDER}"></label>
                  <input
                    type="number"
                    name="concatOrder"
                    th:field="*{concatOrder}"
                    class="form-control"
                    placeholder="Enter Arithmetic Value"
                    />
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>
                    <span th:text="#{GRAM01_ED.SAVE}"></span>
                  </button>
                  <a th:href="@{/gram/gram00/ed01?gram={gram} (gram=${CLM0.gram})}" class="btn btn-danger"><i class="fa fa-close"></i>
                    <span th:text="#{GRAM01_ED.CANCEL}"></span>
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="overlay"></div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  </body>
</html>
