<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title th:text="#{GRAM00_PR.TITLE}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" th:href="@{static/assets/favicon.ico}" type = "image/x-icon">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css}" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link type="text/css" th:href="@{/static/css/style3.css}" rel="stylesheet">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css}">
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <!-- AWESOME DATA TABLE -------->
    <script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
    <!--<script defer src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" type="text/javascript"></script>-->
    <script defer src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <!--<link rel="stylesheet" defer th:href="@{https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css}"></link>-->
    <link rel="stylesheet" defer th:href="@{https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css}"></link>
    <link rel="stylesheet" defer th:href="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" defer th:href="@{http://getbootstrap.com/css/#tables-responsive}"></link>
    <script>
      $(document).ready(function () {
        $('#table1').DataTable();
      });
    </script>
    <!------------------------------>


  </head>
  <body>

    <div class="wrapper">
      <nav id="sidebar">
        <div id="dismiss">
          <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
          <h3>Main Menu</h3>
        </div>

        <ul class="list-unstyled components">
          <div th:each="choice : ${menu}">
            <li th:if="${choice.isIsActive() and !choice.isHaveSub()}" class="active">
              <a th:href="@{${choice.getPath()}}" th:text="${choice.getCaption()}" data-toggle="collapse" aria-expanded="false"></a>
            </li>
            <li th:if="${!choice.isIsActive() and !choice.isHaveSub()}">
              <a  th:href="@{${choice.getPath()}}" th:text="${choice.getCaption()}"></a>
            </li>
            <li th:if="${choice.isHaveSub()}">
              <a th:href="@{'#' + ${choice.getId()}}" data-toggle="collapse" aria-expanded="false" th:text="${choice.getCaption()}"></a>
              <ul class="collapse list-unstyled" th:id="${choice.getId()}">
                <li th:each="subchoice : ${choice.getSubs()}">
                  <a th:href="@{${subchoice.getPath()}}" th:text="${subchoice.getCaption()}"></a>
                </li>
              </ul>
            </li>
          </div>
        </ul>
      </nav>
      <!--Content-->
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
            </button>
            <label th:if="${xrhsh.getDescr() != null}" th:text="${'Portofolio: ' + xrhsh.getCode() + ' - ' + xrhsh.getDescr()}"></label>
            <!--<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
            </button>-->
          </div>
        </nav>
        <div class="container">
          <div class="row">
            <h1 th:text="#{GRAM00_PR.TITLE1}"></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <a th:href="@{/gram/gram00/ed01}" class="btn btn-primary btn-sm mb-3">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span th:text="#{GRAM00_PR.ADD_GRAM}"></span>
            </a>
          </div>
        </div>
        <table id="table1" style="width:100%" class="hover table-responsive stripe" >
          <thead>
            <tr>
              <th th:text="#{GRAM00_PR.GRAM_COL}"></th>
              <th th:text="#{GRAM00_PR.DESCR_COL}"></th>
              <th th:text="#{GRAM00_PR.DATE_CREATE}"></th>
              <th th:text="#{GRAM00_PR.USER_CREATE}"></th>
              <th th:text="#{GRAM00_PR.DATE_MODIFY}"></th>
              <th th:text="#{GRAM00_PR.USER_MODIFY}"></th>
              <th th:text="#{GRAM00_PR.ACTIONS}"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each = "gram00: ${CLM0}">
              <td th:text = "${gram00.getGram()}"></td>
              <td th:text = "${gram00.getDescr()}"></td>
              <td th:text = "${T(opsw.uci.prj.utils.OpswDateUtils).DateTimeToStr01(gram00.getDate_create())}"></td>
              <td th:text = "${gram00.getUser_create()}"></td>
              <td th:text = "${T(opsw.uci.prj.utils.OpswDateUtils).DateTimeToStr01(gram00.getDate_modify())}"></td>
              <td th:text = "${gram00.getUser_modify()}"></td>
              <td>
                <a th:href="@{/gram/gram00/ed01?gram={gram}(gram=${gram00.gram})}" class="btn btn-primary btn-sm mb-3">
                  <i class="fa fa-edit"></i>
                  <span th:text="#{GRAM00_PR.EDIT}"></span>
                </a>
                <a th:href ="@{/gram/gram00/delete01/{gram} (gram=${gram00.gram}) }" class="btn btn-danger btn-sm mb-3">
                  <i class="fa fa-trash-alt"></i>  
                  <span th:text="#{GRAM00_PR.DELETE}"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="overlay"></div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
  </body>
</html>
